.fsModalContainer {
  display            : none;
  position           : fixed;
  left               : 0;
  top                : 0;
  width              : 100%;
  height             : 100%;
  background         : #f8f8f8;
  cursor             : pointer;
  z-index            : 10000;
  text-align         : center;
  -webkit-transition : background 0.3s ease-in-out;
  -moz-transition    : background 0.3s ease-in-out;
  -ms-transition     : background 0.3s ease-in-out;
  -o-transition      : background 0.3s ease-in-out;
  transition         : background 0.3s ease-in-out;
}

.fsModalContainer * {
  box-sizing: border-box;
}

.fsModalContainer .fsMessage {
  position       : absolute;
  left           : 50%;
  top            : 50%;
  max-width      : 640px;
  margin         : -20px 0 0 -320px;
  color          : #fff;
  font-size      : 2em;
  font-family    : 'Helvetica Neue', Helvetica;

}

.fsModalContainer.info {
  background: #3498db !important;
}

.fsModalContainer.success {
  background: #2ecc71 !important;
}

.fsModalContainer.warning {
  background: #e67e22 !important;
}

.fsModalContainer.error {
  background: #e74c3c !important;
}