body, html {
	height      : 100%;
	font-size   : 100%;
	margin      : 0;
	padding     : 0;
	background  : #eee;
	text-align  : center;
	font-family : 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
	font-size : 2.4em;
	margin    : 10px 0 0 0;
	padding   : 0;
}

p {
	font-size : 1.25em;
	margin    : 40px auto;
	line-height    : 1.25;
}

header {
	background: #6e83a7;
	padding: 25px 0;
	width: 100%;
}

header img {
	margin: 0 auto;
	display: block;
}

.options {
	margin  : 20px 0;
	padding: 0 0 40px 0;
	display : block;
}

.container {
	max-width: 480px;
	padding: 20px;
	margin: 0 auto;
}

.options a {
	padding            : 10px 0;
	background         : #fff;
	border-radius      : 5px;
	text-decoration    : none;
	color              : #fff;
	font-size          : 0.85em;
	width              : 18.4%;
	display            : inline-block;
	float              : left;
	margin-left        : 2%;
	-webkit-transition : background 0.3s ease-in-out;
	-moz-transition    : background 0.3s ease-in-out;
	-ms-transition     : background 0.3s ease-in-out;
	-o-transition      : background 0.3s ease-in-out;
	transition         : background 0.3s ease-in-out;
}

.options a:nth-child(1) {
	background  : #3498db;
	margin-left : 0;
}

.options a:nth-child(2) {
	background: #2ecc71;
}

.options a:nth-child(3) {
	background: #e67e22;
}

.options a:nth-child(4) {
	background: #e74c3c;
}

.options a:nth-child(5) {
	background: #aaa;
}

.options a:hover {
	background-color: #333;
}

.credits {
	margin     : 0 auto;
	padding    : 20px 0 0 0;
	border-top : 1px solid #ccc;
	clear: both;
}

.credits a {
	font-size       : 0.75em;
	color           : #333;
	text-decoration : none;
}

.credits a:hover {
	text-decoration: underline;
}

@media (max-width:520px) {

	header {
		padding: 10px 0;
	}

	header img {
		width: 40px;
	}

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 1em;
		margin: 20px auto;
		line-height: 1.6;
	}

	.options a {
		width: 100%;
		margin: 0 0 10px 0;
		display: block;
	}
}
